{{> header}}

<center>
	<br>
	<br>
	<h1>DOWNLOAD</h1>
</center>
<ul id="downloads">
	<li><a href="/apk/Android_5_GAM.apk">Android 5 GAM.apk</a></li>
	<li><a href="/apk/Android_6_GAM.apk">Android 6 GAM.apk</a></li>
	<li><a href="/apk/Android_8-9_GAM.apk">Android 8-9 GAM.apk</a></li>
	<li><a href="/apk/FRP_addROM.apk">FRP_addROM.apk</a></li>
	<li><a href="/apk/QuickShortcutMaker.apk">QuickShortcutMaker.apk</a></li>
	<li><a href="/apk/FRP_Bypass.apk">FRP_Bypass.apk</a></li>
	<li><a href="/apk/Apex_Launcher.apk">Apex Launcher.apk</a></li>
	<li><a href="/apk/Calculator.apk">Calculator.apk</a></li>
	<li><a href="/apk/Development_Settings.apk">Development Settings.apk</a></li>
	<li><a href="/apk/Easy Frp Bypass.apk">Easy Frp Bypass.apk</a></li>
	<li><a href="/apk/ES_File_Explorer.apk">ES_File_Explorer.apk</a></li>
	<li><a href="/apk/File_Commander_Manager.apk">File_Commander_Manager.apk</a></li>
	<li><a href="/apk/FRP LOCK, BYPASS APP FOR OTG CABLE.apk">FRP LOCK, BYPASS APP FOR OTG CABLE.apk</a></li>
	<li><a href="/apk/FRP_Andriod_7.apk">FRP_Andriod_7.apk</a></li>
	<li><a href="/apk/FRPtools.com.apk">FRPtools.com.apk</a></li>
	<li><a href="/apk/HushSMS.apk">HushSMS.apk</a></li>
	<li><a href="/apk/Menu_Button.apk">Menu_Button.apk</a></li>
	<li><a href="/apk/Nova_Launcher_v5.5.4.apk">Nova_Launcher_v5.5.4.apk</a></li>
	<li><a href="/apk/PackageDisablerPro.apk">PackageDisablerPro.apk</a></li>
	<li><a href="/apk/PDP Engine.apk">PDP Engine.apk</a></li>
	<li><a href="/apk/Phone_Clone.apk">Phone_Clone.apk</a></li>
	<li><a href="/apk/Samsung Account Changer.apk">Samsung Account Changer.apk</a></li>
	<li><a href="/apk/Samsung Sign in.apk">Samsung Sign in.apk</a></li>
	<li><a href="/apk/Setting.apk">Setting.apk</a></li>
	<li><a href="/apk/sidebar lite.apk">sidebar lite.apk</a></li>
	<li><a href="/apk/Smart-Switch.apk">Smart-Switch.apk</a></li>
	<li><a href="/apk/Test_DPC.apk">Test_DPC.apk</a></li>
	
</ul>

<style>
	#HeaderNav ul li:first-child a{
		color:green;
	}
</style>

{{> footer}}